/* --------------------Tailwind CSS code for Universal css selectors e.g * {line-height: 1.44;} -------------------- */
.bg-white {
    background-color: white; /* Sets background color to white */
}

.font-sans {
    font-family: Arial, sans-serif; /* Sets font-family to Arial, sans-serif */
}

.mt-1 {
    margin-top: 0.25rem; /* Equivalent to 1px */
}

.ml-5 {
    margin-left: 1.25rem; /* Equivalent to 5px */
}


.leading-relaxed {
    line-height: 2.3; /* Default is 1.44px */
}
/* --------------------End of Tailwind CSS code -------------------- */

.container {
    position: relative;
    text-align: center;
}

h1 {
    font-size: 1.80rem;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

h3 {
    font-size: 1.09rem;
    font-weight: bold;
}

/* Normal text (e.g., paragraphs, spans, etc.) */
body {
    font-size: 0.895rem;
}

body {
    background-image: url('blue_bg_png2.png');
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

#img1 {
    position: absolute;
    top: 70%;
    left: 12%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.3;
}

@media (max-width: 1024px) {
    #img1 {
        position: static;
        display: block;
        margin: 0 auto;
        transform: none;
        opacity: 0.3;
    }
}


/* Custom styles for the navbar */
.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    background-color: #164081;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 2px;
}

.navbar .nav-item.active .nav-link,
.navbar .nav-link.active {
    background-color: #949494 !important;
}

.navbar .nav-item .nav-link:hover {
    background-color: #3f73d3;
}

/* Styling for containers */
.aboutUs-container,
.aboutRole-container,
.form-container {
    display: none;
    padding: 20px;
    border: 17px solid #cdd6e5;
    border-style: outset;
    border-radius: 3rem;
    background: linear-gradient(to left, #cdd6e5, #fbffff, #cdd6e5);
}

/* Setting different margins for different screen sizes */
@media (min-width: 576px) {
    .aboutUs-container,
    .aboutRole-container,
    .form-container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width: 768px) {
    .aboutUs-container,
    .aboutRole-container,
    .form-container {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (min-width: 992px) {
    .aboutUs-container,
    .aboutRole-container,
    .form-container {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (min-width: 1200px) {
    .aboutUs-container,
    .aboutRole-container,
    .form-container {
        margin-left: 200px;
        margin-right: 200px;
    }
}


#apply-here {line-height: 1.5;}

/* Style for the horizontal line */
hr {
    border-radius: 5px;
    background: linear-gradient(to right, #0072bb, #0096e0, #6cc0e5, #b2e0f0); /* Blue gradient */
    height: 4.5px;
}

/* Style for inputs select, textarea*/
input:not(.uploads-input):not(.submit-btn), select, textarea {
    border: 2px solid black;
    padding-left: 1px;
    padding-right: 1px;
    background-color: inherit;
}

/* Style for upload file inputs*/
input[type="file"] {
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    border-radius: 2%;
}

/* Style for button */
.btn {
    color: black;
    background-color: rgb(92, 165, 92);
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    margin: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    font-size: inherit; /* Inheriting the font size from the universal styles */
    transition: all 0.3s;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5); /* Outset shadow */
}

.btn:hover {
    color: black;
    transform: translateY(-10px);
    background-color: darkseagreen;
}

/* --------------------End of CSS code -------------------- */

